.u1,
.strt {
    margin-top: 30px;
    color: white;
}

body {
    background-color: rgb(175, 175, 206);
}

button {
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    background-color: darkblue;
    color: rgb(231, 234, 238);
    border: rgb(87, 33, 9);
}

.I1 {
    margin-top: 1em;
    border-width: 10px;
    border-color: black;
    box-shadow: 5px 8px 4px darkgrey;
    border-radius: 10px;
}

.video-container {
    margin-top: 0;
    height: 250px;
    width: full;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
    z-index: -1;
}

#ic1,
#ic2,
#ic3,
#ic4 {
    margin-left: 40px;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    box-shadow: 2px 2px gray;
}

.important__link {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.link_button:hover {
    cursor: pointer;
    color: black;
    background: white;
}

@media only screen and (max-width: 400px) {
    body{
        max-width: 100vw;
        justify-content: center;
        margin: 1rem;
    }
    .video-container center{
        /* padding-left: 1rem; */
        justify-content: center;
    }
    #stadium{
        margin-top: 0.1rem;
        justify-content: center;
    }
    .strt{
        font-size: 1rem;
        justify-content: center;
    }
    .I1{
        margin-top: 9rem;
        width: 12rem;
        height: 4.5em;
    }
    #intro{
        justify-content: center;
    }
    #kit{
        width: 100vw;
    }
    .col{
        padding: rem;
    }
    .important__link{
        list-style: none;
        gap: 0.5rem;
        padding-left: 0.5rem;
        justify-content: center;
    }
    .link_button{
        width: 7rem;
        height: 5rem;
        font-size: 0.8rem;
        font-weight: 800;
    }
    .imgContainer{
        justify-content: center;
        padding: 0;
    }
    #kit th{
        font-size: 15px;
        padding-right: 2.2rem;
    }
    #kit td{
        width: 1rem;
        padding-right: 1.5rem;
    }
    .logo{
        padding: 0;
        width: 8rem;
        height: 6rem;
        margin: 0.1rem;
    }
    #ic1{
        margin: 0.5rem;
    }
    #ic3{
        margin: 0.5rem;
    }
    #football{
        max-width: 90vw;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        height: 200px;
    }
}
@media only screen and (max-width: 800px) {
    body{
        max-width: 100vw;
        justify-content: center;
        margin: 1rem;
    }
    .video-container center{
        /* padding-left: 1rem; */
        justify-content: center;
    }
    #stadium{
        margin-top: 0.1rem;
        justify-content: center;
    }
    .strt{
        font-size: 1rem;
        justify-content: center;
    }
    .I1{
        margin-top: 8rem;
        width: 12rem;
        height: 4.5em;
    }
    #intro{
        justify-content: center;
    }
    #kit{
        padding: 1rem;
    }
    .col{
        padding: rem;
    }
    .important__link{
        list-style: none;
        gap: 0.2rem;
        padding: 0.5rem;
        justify-content: center;
    }
    .link_button{
        width: 6.5rem;
        height: 5rem;
        font-size: 0.8rem;
        font-weight: 800;
    }
    .imgContainer{
        justify-content: center;
        padding: 0;
    }
    .logo{
        padding: 0;
        width: 8rem;
        height: 6rem;
        margin: 0.5rem;
    }
    #ic1{
        margin: 0.5rem;
    }
    #ic3{
        margin: 0.5rem;
    }
    #ic2{
        margin: 0.5rem;
    }
    #ic4{
        margin: 0.5rem;
    }
    #football{
        max-width: 90vw;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        height: 200px;
    }
    #kit th{
        font-size: 15px;
        padding-right: 2.2rem;
    }
    #kit td{
        width: 1rem;
        padding-right: 1.5rem;
    }
}