.u1,
.strt {
    margin-top: 30px;
    color: white;
}

.strt {
    font-size: 2em;
    animation-name: reveal;
    animation-duration: 5s;
}
@keyframes reveal{
    0%{transform:scale(0);}
    50%{transform:scale(1);}
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(175, 175, 206);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
}

button {
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    background-color: darkblue;
    color: rgb(231, 234, 238);
    border: rgb(87, 33, 9);
}

.I1 {
    margin-top: 1em;
    border-width: 10px;
    border-color: black;
    box-shadow: 5px 8px 4px darkgrey;
    border-radius: 10px;
}

/* Added hovering effect */
.I1:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.video-container {
    margin-top: 0;
    height: 300px;
    width: full;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
    z-index: -1;
}

#ic001,
#ic002,
#ic1,
#ic2,
#ic3,
#ic4 {
    margin-left: 40px;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    box-shadow: 2px 2px gray;
}

#ic1:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

#ic2:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

#ic3:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

#ic4:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

#ic001:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

#ic002:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.important__link {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.link_button:hover {
    cursor: pointer;
    color: black;
    background: white;
}

#intro {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;

}

#data {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
}

#datacontainer {
    padding: 25px;
    background-color: rgb(211, 211, 227);
    height: fit-content;
    width: 750px;
    margin: 60px 30px;
    padding-top: 39px;
    box-shadow: 4px 4px 2px 2px rgb(79, 77, 77);
    border-radius: 10px;
}

#datacontainer:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    /*Added transition effect*/
}

#affiliated {
    text-align: center;
}

.h2primary {
    text-shadow: 2px 2px whitesmoke;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
}

#affiliations {
    display: flex;
    text-align: center;
    justify-content: center;

}

#affiliations span {
    margin: 10px 10px;
    padding: 20px 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 2px rgb(70, 66, 66);
}

img {
    border-radius: 10px;
}

#image0:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

#image1:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

#image2:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

#list {
    display: flex;
    justify-content: space-evenly;
}

#list h2 {
    text-align: center;
    text-shadow: 2px 2px grey;
}

#list1,
#list2 {
    background-color: rgb(211, 211, 227);
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 2px rgb(70, 66, 66);

}

#list1:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    /*Added transition*/

}

#list2:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    /*Added transition*/
}

#list1 ol li {
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
}

#list2 ol li {
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
}

.col {
    font-weight: bold;
}

#table {
    display: flex;
    justify-content: center;
}

#strong {
    display: block;
    margin: auto;
}

.link_button {
    font-size: 15px;
    font-weight: bold;
}

.imgContainer a img:hover {
    transform: scale(1.2);
}


@media only screen and (max-width: 400px) {
    body {
        max-width: 100vw;
        justify-content: center;
        margin: 1rem;
    }

    .video-container center {
        /* padding-left: 1rem; */
        justify-content: center;
    }

    #stadium {
        margin-top: 0.1rem;
        justify-content: center;
    }

    .strt {
        font-size: 1rem;
        justify-content: center;
    }

    .I1 {
        margin-top: 9rem;
        width: 12rem;
        height: 4.5em;
    }

    #intro {
        justify-content: center;
    }

    #kit {
        width: 100vw;
    }

    .col {
        padding: rem;
    }

    .important__link {
        list-style: none;
        gap: 0.5rem;
        padding-left: 0.5rem;
        justify-content: center;
    }

    .link_button {
        width: 7rem;
        height: 5rem;
        font-size: 0.8rem;
        font-weight: 800;
    }

    .imgContainer {
        justify-content: center;
        padding: 0;
    }

    #kit th {
        font-size: 15px;
        padding-right: 2.2rem;
    }

    #kit td {
        width: 1rem;
        padding-right: 1.5rem;
    }

    .logo {
        padding: 0;
        width: 8rem;
        height: 6rem;
        margin: 0.1rem;
    }

    #ic1 {
        margin: 0.5rem;
    }

    #ic3 {
        margin: 0.5rem;
    }

    #football {
        max-width: 90vw;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        height: 200px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        max-width: 100vw;
        justify-content: center;
        margin: 1rem;
    }

    .video-container center {
        /* padding-left: 1rem; */
        justify-content: center;
    }

    #stadium {
        margin-top: 0.1rem;
        justify-content: center;
    }

    .strt {
        font-size: 1rem;
        justify-content: center;
    }

    .I1 {
        margin-top: 8rem;
        width: 12rem;
        height: 4.5em;
    }

    #intro {
        justify-content: center;
    }

    #kit {
        padding: 1rem;
    }

    .col {
        padding: rem;
    }

    .important__link {
        list-style: none;
        gap: 0.2rem;
        padding: 0.5rem;
        justify-content: center;
    }

    .link_button {
        width: 6.5rem;
        height: 5rem;
        font-size: 0.8rem;
        font-weight: 800;
    }

    .imgContainer {
        justify-content: center;
        padding: 0;
    }

    .logo {
        padding: 0;
        width: 8rem;
        height: 6rem;
        margin: 0.5rem;
    }

    #ic1 {
        margin: 0.5rem;
    }

    #ic3 {
        margin: 0.5rem;
    }

    #ic2 {
        margin: 0.5rem;
    }

    #ic4 {
        margin: 0.5rem;
    }

    #ic001 {
        margin: 0.5rem;
    }

    #ic002 {
        margin: 0.5rem;
    }

    #football {
        max-width: 90vw;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        height: 200px;
    }

    #kit th {
        font-size: 15px;
        padding-right: 2.2rem;
    }

    #kit td {
        width: 1rem;
        padding-right: 1.5rem;
    }
}


.navbar {
    background-color: darkblue;
    width: 50%;
    margin: 1rem 0 2rem;
    border-radius: 8px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.nav-list li {
    width: 50%;
}

.nav-list li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #ecf0f1;
    transition: background-color 0.3s ease;
    position: relative;
}

.nav-list li:not(:last-child) a::after {
    content: "|";
    position: absolute;
    right: -10px;
    color: #ecf0f1;
}

.nav-list li a:hover {
    background-color: #ffffff;
    border-radius: 8px;
    color: black;
}


footer {
    background-color: #38386D;
    height: 100px;
}

#footer-top {
    height: 50%;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;

}

#footer-top-left {
    width: 70%;
    padding-top: 10px;
}

#footer-top-right {
    width: 30%;
    padding-left: 70%;
    padding-top: 15px;
}

#AIFF-footer {
    text-decoration: none;
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}

#footer-bottom a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 80px;
}

#copyright {
    font-size: 12px;
    float: right;
    padding-right: 80px;
}

#scrollToTopBtn{
    cursor: pointer;
    /* position: fixed; */
    margin-left:1430px;
}

i{
    font-size: larger;
}
